h1{
    color:rgb(226, 106, 8);
}
span{
    color:bisque;
}
.navbar-nav{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
}
.nav-item{
    padding-left: 2rem;
}